body {
    background-image: url("../img/camelCase.jpg");
    background-repeat: no-repeat;
    background-position: right top;
    margin-right: 200px;
    background-attachment: fixed;
    background-color: lightblue;
}
h1 {
    color: navy;
    margin-left: 20px;
}
p  {
    background-color: yellow;
}
div {
    background-color: aquamarine;
}